@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;



@font-face {
    font-family: 
    "Geist-Light"
    ;
    src: url(../fonts/Geist/Geist-Light.otf);
}

@font-face {
    font-family: 
    "Geist-Regular"
    ;
    src: url(../fonts/Geist/Geist-Regular.otf);
}

@font-face {
    font-family: 
    "Geist-Medium"
    ;
    src: url(../fonts/Geist/Geist-Medium.otf);
}


@font-face {
    font-family: 
    "Geist-SemiBold"
    ;
    src: url(../fonts/Geist/Geist-SemiBold.otf);
}


@font-face {
    font-family: 
    "Geist-Bold"
    ;
    src: url(../fonts/Geist/Geist-Bold.otf);
}


@font-face {
    font-family: 
    "Geist-Black"
    ;
    src: url(../fonts/Geist/Geist-Black.otf);
}


@font-face {
    font-family: 
    "Geist-UltraBlack"
    ;
    src: url(../fonts/Geist/Geist-UltraBlack.otf);
}


@font-face {
    font-family: 
    "Inter-Thin"
    ;
    src: url(../fonts/Inter/Inter-Thin.otf);
}


@font-face {
    font-family: 
    "Inter-Light"
    ;
    src: url(../fonts/Inter/Inter-Light.otf);
}

@font-face {
    font-family: 
    "Inter-Regular"
    ;
    src: url(../fonts/Inter/Inter-Regular.otf);
}

@font-face {
    font-family: 
    "Inter-Medium"
    ;
    src: url(../fonts/Inter/Inter-Medium.otf);
}


@font-face {
    font-family: 
    "Inter-SemiBold"
    ;
    src: url(../fonts/Inter/Inter-SemiBold.otf);
}


@font-face {
    font-family: 
    "Inter-Bold"
    ;
    src: url(../fonts/Inter/Inter-Bold.otf);
}


@font-face {
    font-family: 
    "Inter-Black"
    ;
    src: url(../fonts/Inter/Inter-Black.otf);
}


@font-face {
    font-family: 
    "Inter-UltraBlack"
    ;
    src: url(../fonts/Inter/Inter-ExtraBold.otf);
}




.between {
    @apply flex items-center justify-between
}

.flex-center {
    @apply flex items-center justify-center
}

.ic {
    @apply flex items-center
}

.dark {
    @apply bg-slate-950
}

.api-card {
    @apply  flex justify-center flex-col sm:h-[120px] my-2 w-full rounded-lg border dark:border-slate-400/20 p-5
}

.input-element {
    @apply block h-10 text-sm px-4 border dark:border-white/10 font-Geist-Light rounded-md placeholder:text-white/40 placeholder:font-Inter-Light outline-none w-full bg-gray-50 dark:bg-[#0e0e0e!important]
}